.App {
  text-align: center;
}

span {
  font-size: 13px !important;
}

#main {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(52, 53, 65);
  /* align-items: flex-end; */
}
.clearIcon,
.likeBtn,
.dislikeBtn,
.aboutUs {
  padding: 8px;
  margin: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  right: 0px !important;
  z-index: 10000;
  color: #e0d8d8 !important;
  width: 50px;
}

.clearIcon {
  right: 5vw !important;
}

.aboutUs {
  left: 5vw;
  text-decoration: none;
}

.likeBtn,
.dislikeBtn {
  width: 17px;
  position: relative;
  display: inline;
}

.rcw-timestamp {
  display: none;
}
.rcw-sender {
  align-items: center !important;
  padding: 0 !important;
  margin: 0 !important;
}

.rcw-send {
  background-color: transparent;
  transform: rotate(-45deg);
  position: absolute;
}

.rcw-title {
  font-size: 20px !important;
  font-weight: 500;
  padding: 25px !important;
  text-align: center;
}

.rcw-send-icon,
.rcw-picker-icon {
  padding: 0 10px;
  width: 20px;
}

.rcw-launcher,
.rcw-picker-btn {
  display: none !important;
}

.rcw-new-message {
  width: 100%;
  background-color: rgb(66, 68, 98);
  color: #e0d8d8;
  padding: 10px 15px;
}

.rcw-sender {
  justify-content: flex-end;
  align-items: center;
  padding: 10px 35px;
  height: 40px;
}

.rcw-header {
  background-color: rgb(52, 53, 65) !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  border-bottom: 1px solid rgb(121, 125, 172) !important;
}

.rcw-message-text {
  font-size: 14px;
  padding: 13px !important;
}

.rcw-response .rcw-message-text {
  max-width: 60%;
  background-color: rgba(32, 33, 35, 0.5) !important;
  color: #e0d8d8;
}

.rcw-client .rcw-message-text {
  max-width: 100% !important;
}

.rcw-timestamp {
  color: #fff;
}
.rcw-widget-container {
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  position: relative;
  /* left: 400px; */
  right: 0;
  z-index: 9999;
  background-color: rgb(52, 53, 65);
  padding: 0 !important;
}

.rcw-conversation-container {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  box-shadow: none !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.rcw-messages-container {
  max-height: 90vh !important;
  height: 90vh;
  background-color: rgb(52, 53, 65);
  overflow-y: auto;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none;
}

.rcw-messages-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.rcw-sender {
  background-color: rgb(52, 53, 65);
}

.rcw-launcher {
  position: absolute;
  top: 100vh;
  right: 0;
}

/* .chatFeed {
  display: flex;
  justify-content: center;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.rcw-launcher,
.rcw-close-button {
  display: none !important;
}
