.App {
  text-align: start;
  color: #e0d8d8;
  background-color: rgb(52, 53, 65);
  height: 100%;
  margin: 0;
}

p {
  margin: 0;
  padding: 10px;
  font-size: 14px;
}

#head {
  font-size: 25px;
  padding-bottom: 50px;
}

.about {
  padding: 5% 20%;
}

a {
  color: #eaee0d;
}
