OPENAI_API_KEY=$OPENAI_API_KEY # Follow https://platform.openai.com/docs/api-reference/authentication
DATABASE_URL=$DATABASE_URL # example: mongodb://admin:password@localhost:27017/test
GOOGLE_TRANSLATE_API_KEY=$GOOGLE_TRANSLATE_API_KEY # Follow https://cloud.google.com/translate/docs/setup



